@import "../../../variables";

.tile-container {
  width: 450px;
  min-height: fit-content;
  padding: 15px;
  margin: 2px;
  border-radius: 7px;
  border: 2px solid $accent;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 80%;


  &.online{
    border-color: green;
    opacity: 100%;
  }

  .status-accent{
    position: absolute;
    left: 3px;
    top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    &.online{
      background-color: rgb(16, 113, 16);
    }
    &.offline{
      background-color: rgb(208, 10, 10);
    }
  }
  // Add table styles
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .toggle-status-btn{
    position:absolute;
    right:3px;
    top:3px;
    display:flex;
    margin-inline: auto;
    font-size: 0.7rem;
    padding:4px;
    border:none;
    border-radius:3px;
    background: black;
    color:white;
    font-weight: bold;
    &.offline{
      background-color: $accent;

    }
  }
  table {
    width: 100%; // Set table width to 100% of the container
    border-collapse: collapse; // Collapse table borders

    th,
    td {
      padding: 8px; // Add padding to table cells
      text-align: left; // Align text to the left
      border-bottom: 1px solid #ccc; // Add a bottom border to cells
      &.row-title {
        font-weight: bold;
      }
      &.target-value-column {
        text-align: center;
        font-size: 13px;
      }
      &.unit-column {
        text-align: center;
      }
    }

    th {
      background-color: $accent; // Set background color for the header cells
      color: #fff; // Set text color for the header cells
    }

    tbody {
      tr:nth-child(even) {
        background-color: #f2f2f2; // Set a background color for even rows
      }
      tr:hover {
        background-color: #ddd; // Set a background color when hovering over a row
      }
    }
  }
}