<!--  general tile structure -->

<div class="tile-container" *ngIf="machineDetail">
    <div>
        <h4>specs</h4>
        <!-- create a table with title key | value, the rows iterating values filtered -->
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of machineDetail | keyvalue">

                    <!--  testing conditionals to filter out id and machine_id from table [for testing] -->
                    <ng-container *ngIf="!['id', 'machine_id'].includes(item.key)">
                        <td class="key-column">{{item.key}}</td>
                        <td class="values-column">{{item.value}}</td>
                    </ng-container>
                </tr>


            </tbody>
        </table>
        <div>current Temperature: {{machineTemperature}}</div>
        <div>current Pressure: {{machinePressure}}</div>
        <div>current Flow Rate: {{machineFlowRate}}</div>
    </div>
</div>