<!--  general tile structure -->

<div class="tile-container" *ngIf="machineDetail">
        <h2>{{machineDetail.name | titlecase}}</h2>
        <!-- create a table with title key | value, the rows iterating values filtered -->
        <table>
            <thead>
                <tr>
                    <th>Valori</th>
                    <th>Dati live</th>
                    <th>Target</th>
                    <th>Unità</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="row-title">Pressione</td>
                    <td class="live-data-column">{{machinePressure}}</td>
                    <td class="target-value-column">{{machineDetail.min_pressure}} ~ {{machineDetail.max_pressure}}</td>
                    <td class="unit-column">{{machineDetail.pressure_unit}}</td>
                </tr>
                <tr>
                    <td class="row-title">Temperatura</td>
                    <td class="live-data-column">{{machineTemperature}}</td>
                    <td class="target-value-column">{{machineDetail.min_temp}} ~ {{machineDetail.max_temp}}</td>
                    <td class="unit-column">°C</td>
                </tr>
                <tr>
                    <td class="row-title">Flow Rate</td>
                    <td class="live-data-column">{{machineFlowRate}}</td>
                    <td class="target-value-column">{{machineDetail.flow_rate}}</td>
                    <td class="unit-column">{{machineDetail.flow_rate_unit}}</td>
                </tr>

            </tbody>
        </table>

</div>