<!-- main component that is injected in the index.html -->
<!-- style is handled in its own scss file -->



<app-header></app-header>
<div class="body-content">
    <app-sidebar [machineList]="machineList"></app-sidebar>
    <main>
        <h2>randomNum data from socket:  {{socketData}}</h2>
        <div class="machine-detail-area">

            <ng-container *ngIf="machineList; else errorBlock">

                <ng-container *ngFor="let machine of machineList">
                    <app-tile [id]="machine.id"></app-tile>
                </ng-container>
            </ng-container>

            <ng-template #errorBlock>
                <h2> The backend service seems Offline</h2>
            </ng-template>
        </div>
        <router-outlet></router-outlet>
    </main>
</div>