.body-content{
    display: flex;
    height: 90vh;

    main{
        display: flex;
        flex-direction: column;
        flex:1;
        padding:5px;
        max-width: 100%;

        .machine-detail-area{
            display:flex;
            flex-wrap: wrap;
        }
    }
}