<!-- this should be the component that hosts the list of data from the different endpoints of the app -->
<!-- ideally generates 3 different lists with the content of each table of the database & generating <li> components with <a href to the `/:id` specific route to have its dashboard as a popup (maybe?) -->
<aside>
    <section class="machines-section">
        <h3 class="section-title">List of machines</h3>
        <ng-container *ngIf="machineList; else errorBlock">
        <div class="machine-status-group">

                <h5>Online</h5>
                <ul *ngFor="let machine of machineList">

                    <ng-container *ngIf="machine.online ">
                        <li>{{machine.name}} </li>
                    </ng-container>
                </ul>
            </div>
            <div class="machine-status-group">
                <h5>Offline</h5>
                <ul *ngFor="let machine of machineList">
                    <ng-container *ngIf="!machine.online">
                        <li>{{machine.name}} </li>

                    </ng-container>
                </ul>
            </div>
        </ng-container>

        <ng-template #errorBlock>
            <h3>The backend service seems Offline</h3>
        </ng-template>
    </section>
</aside>