/* You can add global styles to this file, and also import other style files */

@import './variables';

*{
    box-sizing: border-box;
    margin:0;
}




body {
    --sb-track-color: #232E33;
    --sb-thumb-color: $accent;
    --sb-size: 6px;

    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }

  body::-webkit-scrollbar {
    width: var(--sb-size)
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

    }